# すべてのJSとJSXを「ライブラリ（自分で書いてない）」扱いにして、統計から完全に除外する
*.js  linguist-vendored
*.jsx linguist-vendored
*.ts  linguist-vendored
*.tsx linguist-vendored

# ついでにCSSやHTMLも除外
*.css  linguist-vendored
*.html linguist-vendored

# Javaだけは「絶対に検出して、これはプログラミング言語だ！」と叫ぶ
*.java linguist-detectable=true
*.java linguist-language=Java