spring:
  application:
    name: billing-api
  
  # ----------------------------------------------------
  # 1. ユーザー管理用DB (Main)
  # ----------------------------------------------------
  r2dbc:
    
    
    url: ${SPRING_R2DBC_URL}
    username: ${SPRING_R2DBC_USERNAME}
    password: ${SPRING_R2DBC_PASSWORD}
    pool:
      initial-size: 5
      max-size: 20

  sql:
    init:
      mode: always

# ----------------------------------------------------
# 2. 青空文庫DB (Sub)
# ----------------------------------------------------
aozora:
  r2dbc:
    url: ${AOZORA_R2DBC_URL}
    username: ${AOZORA_R2DBC_USERNAME}
    password: ${AOZORA_R2DBC_PASSWORD}
    # ★★★ ここを追加！ ★★★
    pool:
      initial-size: 5
      max-size: 20       # これで20個以上は作らせない！
      max-idle-time: 5m  # 5分放置したら切断

# ----------------------------------------------------
# 3. Stripe & JWT
# ----------------------------------------------------
stripe:
  api-key: ${STRIPE_API_KEY}
  webhook-secret: ${STRIPE_WEBHOOK_SECRET}
  
jwt:
  secret: ${JWT_SECRET_KEY} 
  expiration: ${JWT_EXPIRATION} 

# ----------------------------------------------------
# 4. ログ設定
# ----------------------------------------------------
logging:
  level:
    root: INFO
    jp.smartbrief.billing: DEBUG
    org.springframework.r2dbc: DEBUG